<form method="post" action="/">
    <label for="rubrique">Rubrique :</label>
    <select name="rubrique">
        <option value="" disabled selected>Choisissez une rubrique</option>
        {% for rubrique in rubriques %}
            <option value="{{ rubrique }}">{{ rubrique.capitalize() }}</option>
        {% endfor %}
    </select>

    <label for="profession">Profession :</label>
    <select name="profession">
        <option value="" disabled selected>Choisissez une profession</option>
        {% for prof in professions %}
            <option value="{{ prof }}">{{ prof.capitalize() }}</option>
        {% endfor %}
    </select>

    <button type="submit">Afficher</button>
</form>

{% if message %}
<div class="message">{{ message }}</div>
{% endif %}
